<!doctype html>
<html lang="{{ site.language}} ">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="google-site-verification" content="{{ site.google-verification }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=LbG9xvlB2z">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png?v=LbG9xvlB2z" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png?v=LbG9xvlB2z" sizes="16x16">
  <link rel="manifest" href="/assets/favicon/manifest.json?v=LbG9xvlB2z">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=LbG9xvlB2z" color="#414140">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=LbG9xvlB2z">
  <meta name="apple-mobile-web-app-title" content="Brian Hall">
  <meta name="application-name" content="Brian Hall">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=LbG9xvlB2z">
  <meta name="theme-color" content="#414140">

  <link rel="stylesheet" href="/assets/css/app.css">

</head>
